---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$text-color:       #253a57;
$background-color: #ffffff;
$brand-color:      #D94700;
$heading-color:    #253a57;

$grey-color:       lighten($heading-color, 65%);
$grey-color-light: lighten($heading-color, 70%);
$grey-color-dark:  $heading-color;

$base-font-family: "Lato", "Helvetica Neue", Helvetica, Sans-Serif;
$code-font-family: "Ubuntu Mono", monospace;
$base-font-size:   20px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.6;

$heading-font-family: "Playfair Display", Georgia, Serif;
$heading-font-weight: 700;
$heading-line-height: 1.2;

$link-color: $brand-color;
$link-hover-color: #BB1F28;

$spacing-unit:    30px;
$block-grid:      12;
$h1-font-size:		$base-font-size * 2.4;
$h2-font-size:		$base-font-size * 2;
$h3-font-size:		$base-font-size * 1.5;
$h4-font-size:		$base-font-size * 1;
$h5-font-size:		$base-font-size * .875;
$h6-font-size:		$base-font-size * .65;

// Width of the content area
$content-width:    1024px;

$on-phone:          600px;
$on-tablet:        1024px;




// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "base",
  "layout",
  "posts",
  "tumblr",
  "syntax-highlighting"
;
