---
layout: default
---

<div class="home">
  <div>
    <h2 class="page-heading columns-10">Projects</h2>
  </div>
  <ul class="block-grid-2 post-list">
    {% for post in site.posts %}
      <li>
        <figure class="effect">
          <img src="{{ site.baseurl }}/images/{{ post.permalink }}.jpg" alt="{{ post.description }}" />
          <figcaption>
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <p><strong>Tools Utilized:</strong> <br>{% for tag in post.tags %}{{ tag }}{% endfor %}</p>
            <a href="{{ post.url | prepend: site.baseurl }}">View more</a>
          </figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>

</div>
