/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
  text-rendering: optimizeLegibility;
}



/**
 * Images
 */
img,
video{
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $heading-color;
}
h1, h2, h3 {
  font-family: $heading-font-family;
}
h1 {
  color: $brand-color;
  font-size: $h1-font-size;
  margin: 0;
  line-height: $h1-font-size;
}
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $heading-color;
  border-left: 4px solid $heading-color;
  padding-left: $spacing-unit / 2;
  font-size: $base-font-size;
  font-style: normal;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
.highlight{
  padding: $spacing-unit 0 0 0;
  position: relative;
  pre {
    font-size: 13px;
    background-color: $grey-color;
    @include transition(all .35s);
    @include white-space(pre-wrap);
    
    &:hover,
    &:focus {
      background-color: $grey-color-light;
    }
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: ($spacing-unit/9) ($spacing-unit/3);
    font-size: $small-font-size;
    font-style: italic;
    color: $grey-color-light;
    background-color: $heading-color;
    content: "Code";
  }
}
code {
  
}

pre {
  padding: $spacing-unit / 2;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


small {
  font-style: italic;
  font-size: $small-font-size;
  color: $heading-color;
  margin: 0;
  padding: 0;
}



/**
 * Wrapper
 */
.wrapper {
  position: relative;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: $small-font-size - 2;
    height: $small-font-size - 2;

    path {
      fill: $link-color;
    }
  }
}
