@mixin columnCalc($columns) { 
  width: -webkit-calc((100% / #{$block-grid}) * #{$columns} - #{$spacing-unit/2});
  width: 				 calc((100% / #{$block-grid}) * #{$columns} - #{$spacing-unit/2});
}
@mixin columns-html-classes() {
  @for $i from 1 through $block-grid {
    .columns-#{$i} {
      @include columnCalc($i)
    }
  }
}

[class*="columns-"] {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-bottom: ($spacing-unit / 2);
}

/* For devices larger than 600px */
@include min-media-query($on-phone) {
  [class*="columns-"] {
    margin: 0 ($spacing-unit / 2);
  }
  [class*="columns-"]:first-child {
    margin-left: 0;
  }
  [class*="columns-"]:last-child {
    margin-right: 0;
  }
  @include columns-html-classes();
}

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $brand-color;
  text-align: center;
  .site-title {
    text-align: center;
    padding: $spacing-unit 0;
  }
  .site-subtitle {
  }
  @include min-media-query($on-phone) {
    .site-project-link {
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $brand-color;
  font-size: $small-font-size;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  .wrapper > :not(.home) img,
  .wrapper > :not(.home) video {
    border: 1px solid $heading-color;
    @include transition(all .35s);
    &:hover,
    &:focus {
      border-color: $brand-color;
    }
  }
}

.page-heading {
  
}

.description {
  @extend %clearfix;
  display: block;
  border-bottom: 1px solid $brand-color;
  padding: $spacing-unit;
  padding-top: 0;
  margin: 0 0 $spacing-unit;
  font-style: italic;
}

/**
 * Block Grid
 */

@mixin block-grid($per-row) {
  > li {
    display: block;
    float: left;
    height: auto;
    width: 100% / $per-row;
    &:nth-of-type(1n) { clear: none; }
    &:nth-of-type(#{$per-row}n+1) { clear: both; }
  }
}
@mixin block-grid-html-classes() {
  @for $i from 1 through $block-grid {
    .block-grid-#{($i)} {
      @include block-grid($i);
    }
  }
}

[class*="block-grid-"] {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 (-($spacing-unit/2));
  @extend %clearfix;
  > li {
    width: 100%;
    clear: both;
    padding: 0 ($spacing-unit/2) $spacing-unit;
    box-sizing: border-box;
  }
}

@include min-media-query($on-phone) {
  @include block-grid-html-classes();
}


