figure {
    position: relative;
    overflow: hidden;
    h3 {
        color: $background-color;
        margin-bottom: .5rem;
    }
    img {
        width: 100%;
    }
    figcaption {
      padding: floor($spacing-unit /2);
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }
    a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      @include opacity(0);
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }
    &.effect {
      background: $brand-color;
      color: $background-color;
      border: 1px solid $brand-color;
    img {
      @include scale(1);
      @include transition(all .35s);
      @include backface-visibility(hidden);
    }
    &:hover img,
    &:focus img{
      @include opacity(.2);
      @include scale(1.1);
    }
    figcaption {
      text-align: left;
      @include opacity(0);
      @include scale(1.1);
      @include transition(all .35s);
      &:hover,
      &:focus{
        @include opacity(1);
        @include scale(1);    	    
      }
    }
    h3 {
      position: relative;
      overflow: hidden;
      padding-bottom: floor($spacing-unit / 2);
      font-size: 3rem;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $background-color;
        content: '';
        @include translate3d(-100%, 0, 0);
        @include transition(all .5s ease-out);
      }
    }
    &:hover h3,
    &:focus h3{
      &:after {
        @include translate3d(0, 0, 0);
      }
    }
  }
}
