#tumblr {
  a {
    display: block;
    overflow: hidden;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid $heading-color;
    opacity: 0;
    @include transition(all .35s);
    &:hover {
      border-radius: 0;
      border-color: $brand-color;
    }
  }
}