<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include ga.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
      {% if page.description %}
        <div class="description">
          <p>{{ page.description }}<br>
          <strong>Tools Utilized:</strong> {% for tag in page.tags %}{{ tag }}&nbsp;{% endfor %}</p>
          {% if page.githubURL %}
          <h4 class="site-project-link"><a href="{{ page.githubURL }}" target="_blank">View this project on GitHub</a></h4>
          {% endif %}
        </div>
        {% endif %}

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
